{% extends "form/base.html" %}

{% block title %}Elokuvalista - Lisää elokuva{% endblock %}
{% block navbuttons %}<a class="nav_button" href="/">Palaa etusivulle</a>{% endblock %}
{% block greeting %}Lisää elokuva listalle{% endblock %}

{% block errors %}{{ super() }}{% endblock %}

{% block form %}
<div class="options">
  <form action="/create_post" method="post">
    <label for="title">Elokuvan nimi</label><br>
    <input type="text" name="title" maxlength="60" required><br><br>

    <label for="release_year">Julkaisuvuosi</label><br>
    <input type="text" name="release_year" maxlength="4"><br><br>

    <label for="hours">Elokuvan pituus</label><br>
    <input type="text" name="hours" placeholder="tuntia" maxlength="2"><br>
    <input type="text" name="minutes" placeholder="minuuttia" maxlength="2"><br><br>

    <label for="grade">Arvosana 1 - 10</label><br>
    <input type="text" name="grade" maxlength="3">

    <br><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lisää"></input>
  </form>
</div>
{% endblock %}