{% extends "form/base.html" %}
{% block title %}Elokuvalista - Muokkaa{% endblock %}
{% block greeting %}Muokkaa elokuvaa{% endblock %}
{% block navbuttons %}<a class="nav_button" href="/">Palaa etusivulle</a>{% endblock %}
{% block errors %}{{ super() }}{% endblock %}

{% block form %}
<div class="options">
  <form action="/edit_post/{{ post.id }}" method="post">
    <label for="title">Elokuvan nimi</label><br>
    <input class="field" type="text" value="{{ post.title }}" name="title" maxlength="60" required><br><br>

    <label for="release_year">Julkaisuvuosi</label><br>
    {% if post.release_year != None %}
    <input class="field" type="text" value="{{ post.release_year }}" maxlength="4" name="release_year">
    {% else %}
    <input class="field" type="text" maxlength="4" name="release_year">
    {% endif %}<br><br>

    <label for="hours">Elokuvan pituus</label><br>
    {% if post.movie_hours != None %}
    <input class="field" type="text" value="{{ post.movie_hours }}" name="hours" maxlength="2" placeholder="tuntia"><br>
    {% else %}
    <input class="field" type="text" name="hours" maxlength="2" placeholder="tuntia"><br>
    {% endif %}
    {% if post.movie_minutes != None %}
    <input class="field" type="text" value="{{ post.movie_minutes }}" name="minutes" maxlength="2" placeholder="minuuttia">
    {% else %}
    <input class="field" type="text" name="minutes" maxlength="2" placeholder="minuuttia">
    {% endif %}<br><br>

    <label for="grade">Arvosana 1 - 10</label><br>
    {% if post.rating != None %}
    <input class="field" type="text" value="{{ post.rating }}" name="grade" maxlength="3">
    {% else %}
    <input class="field" type="text" name="grade" maxlength="3">
    {% endif %}
    <br><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input class="button" type="submit" value="Tallenna"></input>
  </form>
</div>
{% endblock %}