{% extends "form/base.html" %}
{% block title %}Elokuvalista - Rekisteröidy{% endblock %}
{% block greeting %}Luo uusi käyttäjä{% endblock %}
{% block navbuttons %}<a class="nav_button" href="/">Palaa etusivulle</a>{% endblock %}
{% block errors %}{{ super() }}{% endblock %}
{% block form %}
<div class="options">
  <form action="/create_user" method="post">
    <p>
      Käyttäjätunnus: <br>
      <input type="text" name="username" required>
    </p>
    <p>
      Salasana: <br>
      <input type="password" name="password">
    </p>
    <p>
      Vahvista salasana: <br>
      <input type="password" name="password_confirm">
    </p>
    <input type="submit" value="Rekisteröidy">
  </form>
</div>
{% endblock %}