{% extends "pages/base.html" %}

  {% block title %}{% endblock %}

  {% block errors %}{{ super() }}{% endblock %}
 
  {% block description %}
    <h2>{{ username }}</h2>

    {% if session.user_id == user_id %}
    <p>Olet lisännyt listallesi {{ count_all }} elokuvaa</p>
    {% endif %}

    {% if session.user_id != user_id %}
    <p>Käyttäjä on lisännyt listalleen {{ count_all }} elokuvaa</p>
    {% endif %}

    <a href="/">
      <button>Palaa etusivulle</button></a>
    <hr><br>
  {% endblock %}

  {% block content %}
    {% for post in posts %}
    <a href="/post/{{ post.id }}">
        {{ post.title }}
    </a>
    {% if post.release_year %}
    <p>Julkaisuvuosi: {{ post.release_year }}</p>
    {% endif %}
    <p>
    </p>
      {% if post.movie_hours %}
      <p>Kesto: {{ post.movie_hours }} tuntia {{ post.movie_minutes }} minuuttia</p>
      {% endif %}
    <p>
      {% if post.rating %}
      <p>Käyttäjän arvio: {{ post.rating }} / 10</p>
      {% endif %}
        ({{ post.edited_at }})
    </p>
        <br>
    {% endfor %}
  {% endblock %}