{% extends "form/base.html" %}
{% block title %}Elokuvalista - Kirjaudu sisään{% endblock %}
{% block greeting %}Kirjaudu sisään{% endblock %}
{% block navbuttons %}<a class="nav_button" href="/">Palaa etusivulle</a>{% endblock %}
{% block errors %}{{ super() }}{% endblock %}
{% block form %}
<div class="options">
  <form action="/check_login" method="post">
    <label for="username">Käyttäjätunnus:</label><br><br>
    <input class="field" type="text" name="username" maxlength="30" required><br><br>
    <label for="password">Salasana:</label><br><br>
    <input class="field" type="password" name="password"><br><br>
    <input class="button" type="submit" value="Kirjaudu">
  </form>
</div>
{% endblock %}