{% extends "form/base.html" %}
{% block title %}Elokuvalista - Rekisteröidy{% endblock %}
{% block greeting %}Luo uusi käyttäjä{% endblock %}
{% block navbuttons %}<a class="nav_button" href="/">Palaa etusivulle</a>{% endblock %}
{% block errors %}{{ super() }}{% endblock %}
{% block form %}
<div class="options">
  <form action="/create_user" method="post">
    <label for="username">Käyttäjätunnus:</label><br><br>
    <input class="field" type="text" name="username" maxlength="30" required>
    <br><br>
    <label for="password">Salasana:</label><br><br>
    <input class="field" type="password" name="password">
    <br><br>
    <label for="password_confirm">Vahvista salasana:</label><br><br>
    <input class="field" type="password" name="password_confirm"><br><br>
    <input class="button" type="submit" value="Rekisteröidy">
  </form>
</div>
{% endblock %}