{% extends "feed/base.html" %}

{% block title %}Elokuavlista - Etusivu{% endblock %}

{% block messages %}{{ super () }}{% endblock %}

{% block options %}{{ super() }}{% endblock %}

{% block posts %}{{ super() }}{% endblock %}

{% block pages %}
  <p>
    {% if page > 1 %}
    <a href="/{{ page - 1 }}">
      <button>&lt;&lt;</button></a>
    {% endif %}
    Sivu {{ page }}/{{ page_count }}
    {% if page < page_count %}
    <a href="/{{ page + 1 }}">
      <button>&gt;&gt;</button>
    </a>
    {% endif %}
  </p>
{% endblock %}