{% extends "layout.html" %}

  {% block title %}Elokuvalista - Etusivu{% endblock %}

  {% block site_content %}
    <body>
      {% block messages %}
        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        <hr>
        {% endfor %}
      {% endblock %}

        {% if session.username %}
        <h2>
          {{ greeting }}
        </h2>
        <a href="/add_movie">
          <button>Lisää elokuva listalle</button></a>
      
        <a href="/user/{{ session.user_id }}">
          <button>Oma profiili</button></a>
      
        <a href="/logout">
          <button>Kirjaudu ulos</button></a>
        <br>
      
        {% else %}
        <h2>
          Kirjaudu sisään tai rekisteröidy lisätäksesi elokuvia listalle
        </h2>
        <a href="/login">
          <button>Kirjaudu sisään</button></a>
        
        <a href="/register">
          <button>Rekisteröidy tästä</button></a>
        <br><br>
        {% endif %}
      {% block options %}
    {% endblock %}


    {% block posts %}
      {% for post in posts %}
        <div class="post">
          <br>
          <a href="/user/{{ post.user_id }}">{{ post.username }}</a>
          <a> - </a>
          <a href="/post/{{ post.id }}">
            {{ post.title }}
          </a>
          {% if post.release_year %}
          <p>Julkaisuvuosi: {{ post.release_year }}</p>
          {% endif %}
        <p>
          </p>
            {% if post.movie_hours %}
            <p>Kesto: {{ post.movie_hours }} tuntia {{ post.movie_minutes }} minuuttia</p>
            {% endif %}
          <p>
            {% if post.rating %}
            <p>Käyttäjän arvio: {{ post.rating }} / 10</p>
            {% endif %}
            ({{ post.edited_at }})
          </p>
        </div>
        <br>
      {% endfor %}
    {% endblock %}
      

    <div>
      {% block pages %}
      {% endblock %}
    </div>
  </body>
  {% endblock %}