{% extends "layout.html" %}

  {% block title %}Elokuvalista - Etusivu{% endblock %}

  {% block greeting %}{{ greeting }}{% endblock %}


  {% block navbuttons %}
    {% block extra_buttons %}{% endblock %}
    {% if session.username %}
      <a class="nav_button" href="/add_movie">Lisää elokuva listalle</a>
      <a class="nav_button" href="/user/{{ session.user_id }}">Oma profiili</a>
      <a class="nav_button" href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a class="nav_button" href="/login">Kirjaudu sisään</a>
      <a class="nav_button" href="/register">Rekisteröidy tästä</a>
    {% endif %}
  {% endblock %}

  
  {% block site_content %}
  
    {% block messages %}
      {% for message in get_flashed_messages() %}
      <div class="message">
        <p class="post_text"><b>{{ message }}</b></p>
      </div>
      {% endfor %}
    {% endblock %}

    <div class="options">
      {% block options %}
        {% block info %}{% endblock %}
        <form action="/search" method="get">
          <p>Hae elokuvia</p>
          <input class="field" type="text" name="query">
          <input class="button" type="submit" value="Hae">
        </form>
        
        <form action="/sorted" method="post">
          <p>Lajittele syöte:</p>
          <select class="field" name="sort">
            <option value="0">Oletus</option>
            <option value="1">Vanhin ensin</option>
            <option value="2">Uusin ensin</option>
            <option value="3">Pisin ensin</option>
            <option value="4">Lyhyin ensin</option>
          </select>
          <input class="button" type="submit" value="Lajittele">
        </form>
      {% endblock %}
    </div>


    {% block posts %}
      {% for post in posts %}
        <div class="post">
          <div class="statusbar">
            <a class="nav_button" href="/user/{{ post.user_id }}">{{ post.username }}</a>
            <a> - </a>
            <a class="nav_button" href="/post/{{ post.id }}">{{ post.title }}</a>
          </div>
          
          {% if post.release_year %}
            <p class="post_text">Julkaisuvuosi: {{ post.release_year }}</p>
          {% endif %}

          {% if post.movie_hours or post.movie_minutes %}
            <p class="post_text">Kesto: {{ post.movie_hours }} tuntia {{ post.movie_minutes }} minuuttia</p>
          {% endif %}

          {% if post.rating %}
            <p class="post_text">Käyttäjän arvio: {{ post.rating }} / 10</p>
          {% endif %}

          <p class="post_text">Lisätty: ({{ post.created_at }})</p>

          {% if post.edited_at %}
           <p class="post_text">Muokattu: ({{ post.edited_at }})</p>
          {% endif %}
        </div>
      {% endfor %}
    {% endblock %}
      

    <div>
      {% block pages %}
      {% endblock %}
    </div>

  {% endblock %}