{% extends "layout.html" %}

  {% block title %}Elokuvalista - Etusivu{% endblock %}

  {% block greeting %}{{ greeting }}{% endblock %}

  {% block navbuttons %}
    {% if session.username %}
      <a class="nav_button" href="/add_movie">Lisää elokuva listalle</a>
      <a class="nav_button" href="/user/{{ session.user_id }}">Oma profiili</a>
      <a class="nav_button" href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a class="nav_button" href="/login">Kirjaudu sisään</a>
      <a class="nav_button" href="/register">Rekisteröidy tästä</a>
    {% endif %}
  {% endblock %}

  {% block site_content %}
  <div class="content">
  
    {% block messages %}
      {% for message in get_flashed_messages() %}
      <div class="message">
        <p><b>{{ message }}</b></p>
      </div>
      {% endfor %}
    {% endblock %}


    {% block options %}
    {% endblock %}


    {% block posts %}
      {% for post in posts %}
        <div class="post">
          <div class="statusbar">
            <a class="nav_button" href="/user/{{ post.user_id }}">{{ post.username }}</a>
            <a> - </a>
            <a class="nav_button" href="/post/{{ post.id }}">{{ post.title }}</a>
          </div>
          
          {% if post.release_year %}
            <p class="post_text">Julkaisuvuosi: {{ post.release_year }}</p>
          {% endif %}

          {% if post.movie_hours %}
            <p class="post_text">Kesto: {{ post.movie_hours }} tuntia {{ post.movie_minutes }} minuuttia</p>
          {% endif %}

          {% if post.rating %}
            <p class="post_text">Käyttäjän arvio: {{ post.rating }} / 10</p>
          {% endif %}
          <p class="post_text">({{ post.edited_at }})</p>
        </div>
      {% endfor %}
    {% endblock %}
      

    <div>
      {% block pages %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}