 {% extends "feed/base.html" %}

 {% block title %}Elokuavlista - Etusivu{% endblock %}

 {% block options %}
  <div>
    <form action="/search" method="get">
      <p>Hae elokuvia</p>
      <input type="text" name="query">
      <input type="submit" value="Hae">
    </form>
    
    <form action="/sorted" method="post">
      <p>Lajittele syöte:</p>
      <input type="radio" name="sort" value="1" /> Vanhin ensin
      <input type="radio" name="sort" value="2" /> Uusin ensin
      <input type="radio" name="sort" value="3" /> Pisin ensin
      <input type="radio" name="sort" value="4" /> Lyhyin ensin
      <br><br>
      <input type="submit" value="Lajittele">
    </form>
  </div>
{% endblock %}

{% block posts %}
  {{ super() }}
{% endblock %}

{% block pages %}
  <p>
    {% if page > 1 %}
    <a href="/{{ page - 1 }}">
      <button>&lt;&lt;</button></a>
    {% endif %}
    Sivu {{ page }}/{{ page_count }}
    {% if page < page_count %}
    <a href="/{{ page + 1 }}">
      <button>&gt;&gt;</button>
    </a>
    {% endif %}
  </p>
{% endblock %}