<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="utf-8">
  <title>Elokuvalista - Etusivu</title>
</head>

<body>
  <h1>Elokuvalista</h1>

  <hr>
  {% if session.username %}
  <h2>
    {{ greeting }}
  </h2>
  <a href="/add_movie">
    <button>Lisää elokuva listalle</button></a>

  <a href="/user/{{ session.user_id }}">
    <button>Oma profiili</button></a>

  <a href="/logout">
    <button>Kirjaudu ulos</button></a>
  <br>

  {% else %}
  <p>Kirjaudu sisään niin näet omat elokuvasi</p>
  <a href="/login">
    <button>Kirjaudu sisään</button></a>
  <p>Etkö ole vielä käyttäjä?</p>
  <a href="/register">
    <button>Rekisteröidy tästä</button></a>
  <br>
  {% endif %}
  <br>

  <hr>

  <div>
    <form action="/search" method="get">
      <p>Hae elokuvia</p>
      <input type="text" name="query">
      <input type="submit" value="Hae">
    </form>
    
    <form action="/sorted" method="post">
      <p>Lajittele syöte:</p>
      <input type="radio" name="sort" value="1" /> Vanhin ensin
      <input type="radio" name="sort" value="2" /> Uusin ensin
      <input type="radio" name="sort" value="3" /> Pisin ensin
      <input type="radio" name="sort" value="4" /> Lyhyin ensin
      <br><br>
      <input type="submit" value="Lajittele">
    </form>
  </div>

<hr> 
  

  <br>
  {% for post in posts %}
  <a href="/user/{{ post.user_id }}">{{ post.username }}</a>
  <a> - </a>
  <a href="/post/{{ post.id }}">
    {{ post.title }}
  </a>
  {% if post.release_year %}
  <p>
    Julkaisuvuosi: {{ post.release_year }}
  </p>
  {% endif %}
<p>
  </p>
    {% if post.movie_hours %}
    <p>
      Kesto: {{ post.movie_hours }} tuntia {{ post.movie_minutes }} minuuttia
    </p>
    {% endif %}
  <p>
    ({{ post.edited_at }})
  </p>
    <br>
  {% endfor %}

  <p>
    {% if page > 1 %}
    <a href="/{{ page - 1 }}">
      <button>&lt;&lt;</button></a>
    {% endif %}
    Sivu {{ page }}/{{ page_count }}
    {% if page < page_count %}
    <a href="/{{ page + 1 }}">
      <button>&gt;&gt;</button>
    </a>
    {% endif %}
  </p>
</body>

</html>
