{% extends "feed/base.html" %}

{% block title %}Elokuvalista - Tulokset haulle {{ query }}{%endblock%}
{% block messages %}{{ super () }}{% endblock %}

{% block options %}
  <div class="options">
    <h3>Tulokset haulle {{ query }}</h3>
    <form action="/search" method="get">
      <p>Hae elokuvia</p>
      <input type="text" name="query">
      <input type="submit" value="Hae">
    </form>
    <br>
    <a href="/">
      <button>Palaa etusivulle</button></a>
    </form>
  </div>
{% endblock %}

<hr> 
  

  <br>
{% block posts %}
  {{ super() }}
{% endblock %}