<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="utf-8">
  <title>Elokuvalista - Etusivu</title>
</head>

<body>
  <h1>Elokuvalista</h1>

  <hr>
  {% if session.username %}
  <h2>
    {{ greeting }}
  </h2>
  <a href="/add_movie">
    <button>Lisää elokuva listalle</button>
  </a>
  <a href="/user/{{ session.user_id }}">
    <button>Oma profiili</button>
  </a>
  <a href="/logout">
    <button>Kirjaudu ulos</button>
  </a>
  <br>

  {% else %}
  <p>Kirjaudu sisään niin näet omat elokuvasi</p>
  <a href="/login">
    <button>Kirjaudu sisään</button>
  </a>
  <p>Etkö ole vielä käyttäjä?</p>
  <a href="/register">
    <button>Rekisteröidy tästä</button>
  </a>
  <br>
  {% endif %}
  <br>

  <hr>

  <div>
    <p>Lajiteltu: {{ sorted_by }}</p>
    <a href="/">Palaa etusivulle</a>
  </div>

<hr> 
  

  <br>
  {% for post in posts %}
  <a href="/post/{{post.id}}">
    {{ post.username }} - {{ post.title }}
  </a>
  {% if post.release_year %}
  <p>
    Julkaisuvuosi: {{ post.release_year }}
  </p>
  {% endif %}
<p>
  </p>
    {% if post.movie_hours %}
    <p>
      Kesto: {{ post.movie_hours }} tuntia {{ post.movie_minutes }} minuuttia
    </p>
    {% endif %}
  <p>
    ({{ post.edited_at }})
  </p>
    <br>
  {% endfor %}
</body>

</html>
