{% extends "feed/base.html" %}

{% block title %}Elokuvalista - {{ sorted_by }}{% endblock %}

{% block messages %}{{ super () }}{% endblock %}

{% block options %}
  <div>
    <div>
      <form action="/search" method="get">
        <p>Hae elokuvia</p>
        <input type="text" name="query">
        <input type="submit" value="Hae">
      </form>

      <p>Lajiteltu: {{ sorted_by }}</p>
      <a href="/">
        <button>Palaa etusivulle</button></a><br><br>
      
      <form action="/sorted" method="post">
        <input type="radio" name="sort" value="1" /> Vanhin ensin
        <input type="radio" name="sort" value="2" /> Uusin ensin
        <input type="radio" name="sort" value="3" /> Pisin ensin
        <input type="radio" name="sort" value="4" /> Lyhyin ensin
        <br><br>
        <input type="submit" value="Lajittele">
      </form>
      </div>
  </div>
{% endblock %}

<hr> 
  
{% block posts %}
  {{ super() }}
{% endblock %}