* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #56aaaa;
    margin: auto;
}

.content{
    padding-left: 3em;
    padding-right: 3em;
}

.navbar{
    background-color: #00007c;
    background-image: linear-gradient(to right, #00007c, #1685cd);
    padding: 10px 50px 20px 50px;
}

.options{
    max-width: 38em;
    padding: 1em;
    align-items: center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #c0c0c0;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.message{
    max-width: 40em;
    align-items: center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #fefe08;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}



.post{
    max-width: 40em;
    align-items: center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #c0c0c0;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.post_text{
    padding-left: 1em;
    padding-right: 1em;
}

.statusbar{
    background-color: #00007c;
    background-image: linear-gradient(to right, #00007c, #1685cd);
    padding: 1em;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

a.nav_button{
    color: black;
    text-decoration: none;
    padding: 0.3em;
    background-color: #c0c0c0;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

a.nav_button:hover{
    text-decoration: none;
    padding: 5px;
    background-color: #c0c0c0;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

input.button{
    color: black;
    text-decoration: none;
    padding: 0.3em;
    background-color: #c0c0c0;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

input.button:hover{
    text-decoration: none;
    padding: 4px;
    background-color: #c0c0c0;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

input.field{
    text-decoration: none;
    padding: 5px;
    background-color: #d6d6d6;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

textarea.field{
    text-decoration: none;
    padding: 5px;
    background-color: #d6d6d6;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

select.field{
    text-decoration: none;
    padding: 5px;
    background-color: #d6d6d6;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}